.text-nav{
    color: #fff !important;
}

.container-height{
    height: 100%;
    /*padding-right: 15px;*/
    padding-top: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.Body{
    /*margin-top:40px;*/
    padding-top:150px;
}

.index-searchbar{
    width: 100%;
    padding-top: 60px;
}

.searchbar-class{
    padding-top:100px;
}

.first-div{
    height:90%;
}
