<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8"/>
    <meta name ="viewport" content ="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>而皇牛逼</title>
    <!--内联式的css样式导入-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/customerStyle.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body style="height:100vh">
    <div class="container-fluid bg-littleGreen text-white" style="height:93%"	>
        <nav class="navbar navbar-expand-lg " role ="navigation">
            <a class="navbar-brand" href="./index.html">
                <img src="" alt="" style="width:40px;">
            </a>
            <div class="container nav justify-content-end">
                <ul class= "nav">
                    <li class="nav-item">
                        <a  class="nav-link text-nav" href="#"> 登陆</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link text-nav" href="#"> 注册</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link text-nav" href="#"> 关于</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="Body">
            <h1 class="text-center">DOTADATA</h1>
            <h2 class="text-center">一个查询比赛记录和数据的网站</h2>
            <h3 class="text-center">小组练习项目</h3>
        </div>
        <div clas="search-bar">
            <br/>
            <br/>
        </div>
        <div class="row">
            <div class="col-3">
                <label></label>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input class="form-control input-group-lg" type="text" placeholder="请填入SteamId或者GameId">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary ">搜索</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <label></label>
            </div>
        </div>

    </div>
    <div class="container-fluid" style="background-color: #6c757d; height:7%"  >

    </div>


</body>



</html>
